<span style="color:orange">
 <h2> Databricks-Assignment 1 (Basic Common Transformation)
</span>

In [0]:
from pyspark.sql.functions import *

In [0]:
emp = spark.read.csv("dbfs:/FileStore/shared_uploads/rohitamalnerkar@gmail.com/EmployeeData_HhTLiz9LdC_2JpHdxGvrY-1.csv", header = True, inferSchema = True, sep = ',')

In [0]:
emp.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- creationDate: timestamp (nullable = true)
 |-- bonus: double (nullable = true)

In [0]:
emp.show(50)

+----+----------+------------+--------------------+------+------+-------------------+--------+
|  id|first_name|   last_name|               email|gender|salary|       creationDate|   bonus|
+----+----------+------------+--------------------+------+------+-------------------+--------+
|   1|    Valene|      Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|    null|
|   2|  Lynnelle|       Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|    null|
|   3|   Miranda|       Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|   4|    Dulsea|        Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|    null|
|   5|    Anatol|     Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
|   6|     Baily|      Antony| bantony5@sfgate.com|  Male|127337|1913-10-14 11:25:33|    null|
|   7|    Eunice|      Cardus|ecardus6@scientif...|Female|136574|1901-11-02 15:09:47|38676.94|
|   8|  Aubrette|     Lippett| alippett7@nifty.com|Female|165713|1919-12-16 08:20:42|60150.66|
|   9|   Sibylla|   Sickamore|ssickamore8@faceb...|Female|107243|2020-03-15 15:00:30|    null|
|  10|      null|      Altree|paltree9@dropbox.com|Female|197594|1975-06-21 23:27:12|72533.37|
|  11|      Coop|       Richt|   crichta@sogou.com|  Male| 19964|1939-02-13 16:18:24|56973.41|
|  12|  Giuseppe|     Scimoni|gscimonib@craigsl...|  Male|176531|1967-04-06 07:23:03|    null|
|  13|    Lovell|     Iorizzo|liorizzoc@cpanel.net|  Male|189150|1949-06-06 16:25:20| 41474.8|
|  14|       Deb|       Mogra|   dmograd@bbc.co.uk|Female|197829|1997-07-27 14:55:52|46528.57|
|  15|  Hastings|    Jelliman|hjellimane@histat...|  Male|179296|1915-07-05 07:02:06|80194.64|
|  16|     Josee|      Burnep|    jburnepf@php.net|  null| 78569|1923-11-08 20:59:14|88925.13|
|  17|     Gilly|      Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57|    null|
|  18|      null|   Schruyers|lschruyersh@desde...|  Male|109936|1979-06-16 01:12:48|37243.09|
|  19|     Maris|   Chatelain| mchatelaini@unc.edu|Female|190047|2008-01-11 17:16:21|76469.65|
|  20|    Casper|     Aughtie|    caughtiej@vk.com|  Male| 38689|1982-04-06 05:13:49| 80404.8|
|  21|    Kristo|     Giraudy|                null|  Male|152116|1962-08-16 21:27:30| 5982.54|
|  22|     Becki|       Conry|bconryl@examiner.com|Female| 10203|2003-02-07 10:00:05|47067.23|
|  23|      Edie|       Orniz|eornizm@moonfruit...|Female| 81920|1982-10-03 14:48:25|20019.85|
|  24|   Sharity|      Fronks|sfronksn@economis...|Female|169527|1951-06-14 19:32:49| 4960.71|
|  25|     Vally|    Dahlberg|vdahlbergo@dyndns...|Female| 80628|1924-07-07 06:20:37|60914.52|
|  26|     Effie| Maffioletti|emaffiolettip@pos...|Female| 34228|1986-03-23 12:03:27|31496.73|
|null|       Lev|   Jodlowski|ljodlowskiq@addto...|  Male| 69824|               null|48592.15|
|  28| Sallyanne|   Iacobucci|                null|Female|  2339|1939-05-10 11:30:31| 66003.0|
|  29|      null|      Nibley|                null|Female|165764|2019-08-30 11:23:27|93953.74|
|  30|    Gretta|        null|gdeleat@webeden.c...|Female|134143|2001-03-19 12:19:50|    null|
|  31|    Blayne|   Yuranovev|byuranovevu@blogt...|  Male|188551|1998-07-27 11:30:51|27111.81|
|  32|      Maud|      Formby|mformbyv@macromed...|Female|182359|1964-08-24 11:02:47|77984.03|
|  33|      null|  Brauninger|pbrauningerw@wire...|Female|128821|               null|51592.51|
|  34|    Archer|      Olland|  aollandx@blogs.com|  Male|178365|               null|78036.07|
|  35|      Barn|       Guido|bguidoy@tripadvis...|  Male|191710|               null|37502.75|
|  36|  Olenolin|        null|omaestriniz@googl...|  Male|101428|1929-09-27 09:37:46|    null|
|  37|    Maggee|      Rablin|mrablin10@mashabl...|Female|134344|2004-10-08 01:50:46|60163.15|
|  38|     Nikki|     Woolner|nwoolner11@linked...|Female|  3792|1942-05-13 12:11:21|21054.48|
|  39|   Daniele|      Baelde|   dbaelde12@who.int|Female| 85612|1988-05-12 08:40:59|    null|
|  40|    Farlee|     Fincken|ffincken13@google...|  Male|126873|1937-06-14 23:34:30|58907.18|
|  41|  Hartwell|Bartholomieu|hbartholomieu14@l...|  Male|191999|1939-03-08 00:35:08|17747.19|
|  42|    Ellery| Eixenberger|eeixenberger15@sq...|  Male|157758|               null|35763.69|
|  43|     Adams|        null|acrossley16@hc360...|  Male| 93428|2000-09-17 08:22:15|49390.74|
|  44| Gilemette|     Lockney|  glockney17@ibm.com|Female| 40386|               null|38024.15|
|null|  Stephana|    Melladew| smelladew18@aol.com|Female|  null|               null|91281.13|
|  46|Kristoforo|      Sowray|                null|  Male|131676|1959-03-14 16:01:23|27022.26|
|  47|    Moishe|    Batstone|mbatstone1a@githu...|  Male|128961|1902-10-13 11:30:12|23957.62|
|  48|    Weylin|      Heatly|    wheatly1b@ed.gov|  Male|185564|2014-10-27 22:42:51|    null|
|  49|   Brendin|    Willcott|bwillcott1c@googl...|  Male| 97378|2012-07-03 04:01:16|79157.83|
|  50|    Maggie|    Pancoust|mpancoust1d@paral...|Female|108630|1973-07-16 06:49:27|65867.23|
+----+----------+------------+--------------------+------+------+-------------------+--------+
only showing top 50 rows

In [0]:
emp.select('gender').distinct().show()

+------+
|gender|
+------+
|  null|
|Female|
|  Male|
+------+

<b>How many employees are in the input file?

In [0]:
# Write your code using the Spark Function
employee_count = emp.select(countDistinct('id').alias('employee_count'))
employee_count.show()

+--------------+
|employee_count|
+--------------+
|           970|
+--------------+

<b> What is the average salary of all the employees?

In [0]:
# Write your code using the Spark Function
emp.createOrReplaceTempView("emptemp")
avg_salary = spark.sql('select avg(salary) as avg_salary from emptemp')
avg_salary.show()

+------------------+
|        avg_salary|
+------------------+
|100011.38125665602|
+------------------+

In [0]:
sal = emp.select(avg('salary').alias('avg_salary'))
sal.show()

+------------------+
|        avg_salary|
+------------------+
|100011.38125665602|
+------------------+

In [0]:
# avg salary
avg_salary.show()

+------------------+
|        avg_salary|
+------------------+
|100011.38125665602|
+------------------+

<b> How many male and female employees are there in the input file?

In [0]:
# Write your code using the Spark Function
m_emp = emp.where(emp.gender == 'Male').select(countDistinct('id').alias('Male Employees'))
m_emp.show()

f_emp = emp.where(emp.gender == 'Female').select(countDistinct('id').alias('Female Employees'))
f_emp.show()

+--------------+
|Male Employees|
+--------------+
|           452|
+--------------+

+----------------+
|Female Employees|
+----------------+
|             490|
+----------------+

In [0]:
mf_emp_count = emp.filter(col('gender')!='null').groupBy('gender').agg(countDistinct('id').alias('Employee Count'))
mf_emp_count.show()

+------+--------------+
|gender|Employee Count|
+------+--------------+
|Female|           490|
|  Male|           452|
+------+--------------+

<b> Who is the employee with the highest salary?

In [0]:
# Write your code using the Spark Function
high_sal_emp = emp.orderBy(desc('salary')).select('first_name', 'last_name', 'salary').limit(1)
high_sal_emp.show()

+----------+---------+------+
|first_name|last_name|salary|
+----------+---------+------+
|   Alfonso|Hanbridge|199846|
+----------+---------+------+

<b> What is the total bonus amount paid to all the employees?

In [0]:
# Write your code using the Spark Function
bonus_amount = emp.agg(sum('bonus')).alias('total_bonus_amount')
bonus_amount.show()

+--------------------+
|          sum(bonus)|
+--------------------+
|4.2504812300000034E7|
+--------------------+

d
<b> How many employees were hired in the year 2020?

In [0]:
# Write your code using the Spark Function
emp_2020 = emp.filter((year('creationDate')) == '2020').select('first_name', 'last_name','creationDate')
emp_2020.show()

+----------+---------+-------------------+
|first_name|last_name|       creationDate|
+----------+---------+-------------------+
|   Sibylla|Sickamore|2020-03-15 15:00:30|
|     Leigh|     null|2020-04-15 20:54:14|
|   Arleyne|    Chant|2020-10-19 09:44:37|
|      Ange|     null|2020-06-24 00:24:01|
|     Elsey|  Gossage|2020-07-22 15:52:40|
|   Frasier|  Yurikov|2020-03-07 20:18:55|
|    Stormy|    Losty|2020-06-07 21:47:32|
+----------+---------+-------------------+

d
<b> Who are the top 5 employees with the highest salaries?

In [0]:
# Write your code using the Spark Function
top5_emp_sal = emp.orderBy(desc('salary')).select('first_name', 'last_name', 'salary').limit(5)
top5_emp_sal.show()

+----------+---------+------+
|first_name|last_name|salary|
+----------+---------+------+
|   Alfonso|Hanbridge|199846|
|    Dermot|Letchford|199484|
|    Jennee|Ballingal|198873|
|  Griswold|   Kocher|198688|
|   Baryram|  Whitham|198672|
+----------+---------+------+

d
<b> What is the total salary paid to all male employees?

In [0]:
# Write your code using the Spark Function
total_male_sal = emp.filter("gender = 'Male'").agg(sum('salary'))
total_male_sal.show()

+-----------+
|sum(salary)|
+-----------+
|   44253777|
+-----------+

d
<b> Who is the employee with the highest bonus amount?

In [0]:
# Write your code using the Spark Function# Write your code using the Spark Function
high_bon_emp = emp.orderBy(desc('bonus')).select('first_name', 'last_name', 'bonus').limit(1)
high_bon_emp.show()

+----------+---------+--------+
|first_name|last_name|   bonus|
+----------+---------+--------+
|    Franni| Chessell|99993.16|
+----------+---------+--------+

d
<b> What is the earliest creation date of any employee in the input file?

In [0]:
# Write your code using the Spark Function
min_creation_date = emp.agg(min('creationDate'))
min_creation_date.show()

+-------------------+
|  min(creationDate)|
+-------------------+
|1900-07-08 06:23:29|
+-------------------+

d
<b> How many employees have a salary greater than 100,000?

In [0]:
# Write your code using the Spark Function
empWithSal_100000 = emp.where(col('salary') > 100000).select(countDistinct('id').alias('Employees with Salary > 100,000'))
empWithSal_100000.show()

+-------------------------------+
|Employees with Salary > 100,000|
+-------------------------------+
|                            468|
+-------------------------------+

d
<b> Who is the female employee with the highest salary?

In [0]:
# Write your code using the Spark Function
f_empWithHighSal = emp.filter("gender = 'Female'").orderBy(desc('salary')).select('first_name', 'last_name', 'salary').limit(1)
f_empWithHighSal.show()

+----------+---------+------+
|first_name|last_name|salary|
+----------+---------+------+
|    Jennee|Ballingal|198873|
+----------+---------+------+

d
<b> What is the total bonus amount paid to female employees?

In [0]:
# Write your code using the Spark Function
bonusForFemales = emp.filter("gender = 'Female'").agg(sum('bonus').alias('Bonus Amount Paid to Female Employees'))
bonusForFemales.show()

+-------------------------------------+
|Bonus Amount Paid to Female Employees|
+-------------------------------------+
|                        2.132315359E7|
+-------------------------------------+

d
<b> How many employees have a salary between 50,000 and 75,000?

In [0]:
# Write your code using the Spark Function
empWithSalBetn = emp.filter("salary between 50000 and 75000").select(countDistinct('id').alias('Emps with salary between 50k and 75k'))
empWithSalBetn.show()

+------------------------------------+
|Emps with salary between 50k and 75k|
+------------------------------------+
|                                 111|
+------------------------------------+

d
<b> Who are the top 10 employees with the highest bonuses?

In [0]:
# Write your code using the Spark Function
top10bonusemp = emp.orderBy(desc('bonus')).select('first_name', 'last_name', 'bonus').limit(10)
top10bonusemp.show()

+----------+----------+--------+
|first_name| last_name|   bonus|
+----------+----------+--------+
|    Franni|  Chessell|99993.16|
|     Asher|     Dupoy|99985.66|
|    Lovell|    Ingall|99932.43|
|  Sullivan|    Gyenes| 99845.6|
|    Jessie|     Grgic|99650.89|
|     Nicol|    Bruton|99581.27|
|     Nonah|  Tompkiss|99046.27|
|      Andy|     Morch|99033.16|
|      Swen|Hinrichsen|98721.92|
|   Dorotea|     Kynan|98639.27|
+----------+----------+--------+

d
<b> What is the latest creation date of any employee in the input file?

In [0]:
# Write your code using the Spark Function
latest_creation_date = emp.agg(max('creationDate').alias('Latest Creation Date'))
latest_creation_date.show()

+--------------------+
|Latest Creation Date|
+--------------------+
| 2023-03-24 14:50:38|
+--------------------+

d
<b> How many employees have a salary less than 50,000?

In [0]:
# Write your code using the Spark Function
sal_less_50k = emp.filter("salary < 50000").select(countDistinct('id').alias('Employees with Sal < 50k'))
sal_less_50k.show()

+------------------------+
|Employees with Sal < 50k|
+------------------------+
|                     228|
+------------------------+

d
<b> Who are the top 3 employees with the lowest salaries?

In [0]:
# Write your code using the Spark Function
top3lowestSalEmp = emp.orderBy(asc_nulls_last('salary')).select('first_name', 'last_name', 'salary').limit(3)
top3lowestSalEmp.show()

+----------+----------+------+
|first_name| last_name|salary|
+----------+----------+------+
|  Hercules|Pollington|   109|
|     Olwen| O'Scanlon|   184|
| Heriberto|      null|   479|
+----------+----------+------+

d
<b> What is the average bonus amount paid to all employees?

In [0]:
# Write your code using the Spark Function
avg_bonus = emp.agg(avg('bonus').alias('Avg Bonus'))
avg_bonus.show()

+-----------------+
|        Avg Bonus|
+-----------------+
|50965.00275779381|
+-----------------+

d
<b> How many employees have a bonus greater than their salary?

In [0]:
# Write your code using the Spark Function
bonusGreatThanSal = emp.filter("bonus > salary").select(countDistinct('id').alias('Employees with Bonus > Sal'))
bonusGreatThanSal.show()

+--------------------------+
|Employees with Bonus > Sal|
+--------------------------+
|                       187|
+--------------------------+