<span style="color:orange">
 <h2> Databricks-Assignment 2 (Basic Data Cleaning Transformation)
</span>

In [0]:
from pyspark.sql.functions import *
emp = spark.read.csv("dbfs:/FileStore/shared_uploads/rohitamalnerkar@gmail.com/EmployeeData_HhTLiz9LdC_2JpHdxGvrY-1.csv", header = True, inferSchema = True, sep = ',')

In [0]:
emp.show(50)

+----+----------+------------+--------------------+------+------+-------------------+--------+
|  id|first_name|   last_name|               email|gender|salary|       creationDate|   bonus|
+----+----------+------------+--------------------+------+------+-------------------+--------+
|   1|    Valene|      Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|    null|
|   2|  Lynnelle|       Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|    null|
|   3|   Miranda|       Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|   4|    Dulsea|        Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|    null|
|   5|    Anatol|     Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
|   6|     Baily|      Antony| bantony5@sfgate.com|  Male|127337|1913-10-14 11:25:33|    null|
|   7|    Eunice|      Cardus|ecardus6@scientif...|Female|136574|1901-11-02 15:09:47|38676.94|
|   8|  Aubrette|     Lippett| alippett7@nifty.com|Female|165713|1919-12-16 08:20:42|60150.66|
|   9|   Sibylla|   Sickamore|ssickamore8@faceb...|Female|107243|2020-03-15 15:00:30|    null|
|  10|      null|      Altree|paltree9@dropbox.com|Female|197594|1975-06-21 23:27:12|72533.37|
|  11|      Coop|       Richt|   crichta@sogou.com|  Male| 19964|1939-02-13 16:18:24|56973.41|
|  12|  Giuseppe|     Scimoni|gscimonib@craigsl...|  Male|176531|1967-04-06 07:23:03|    null|
|  13|    Lovell|     Iorizzo|liorizzoc@cpanel.net|  Male|189150|1949-06-06 16:25:20| 41474.8|
|  14|       Deb|       Mogra|   dmograd@bbc.co.uk|Female|197829|1997-07-27 14:55:52|46528.57|
|  15|  Hastings|    Jelliman|hjellimane@histat...|  Male|179296|1915-07-05 07:02:06|80194.64|
|  16|     Josee|      Burnep|    jburnepf@php.net|  null| 78569|1923-11-08 20:59:14|88925.13|
|  17|     Gilly|      Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57|    null|
|  18|      null|   Schruyers|lschruyersh@desde...|  Male|109936|1979-06-16 01:12:48|37243.09|
|  19|     Maris|   Chatelain| mchatelaini@unc.edu|Female|190047|2008-01-11 17:16:21|76469.65|
|  20|    Casper|     Aughtie|    caughtiej@vk.com|  Male| 38689|1982-04-06 05:13:49| 80404.8|
|  21|    Kristo|     Giraudy|                null|  Male|152116|1962-08-16 21:27:30| 5982.54|
|  22|     Becki|       Conry|bconryl@examiner.com|Female| 10203|2003-02-07 10:00:05|47067.23|
|  23|      Edie|       Orniz|eornizm@moonfruit...|Female| 81920|1982-10-03 14:48:25|20019.85|
|  24|   Sharity|      Fronks|sfronksn@economis...|Female|169527|1951-06-14 19:32:49| 4960.71|
|  25|     Vally|    Dahlberg|vdahlbergo@dyndns...|Female| 80628|1924-07-07 06:20:37|60914.52|
|  26|     Effie| Maffioletti|emaffiolettip@pos...|Female| 34228|1986-03-23 12:03:27|31496.73|
|null|       Lev|   Jodlowski|ljodlowskiq@addto...|  Male| 69824|               null|48592.15|
|  28| Sallyanne|   Iacobucci|                null|Female|  2339|1939-05-10 11:30:31| 66003.0|
|  29|      null|      Nibley|                null|Female|165764|2019-08-30 11:23:27|93953.74|
|  30|    Gretta|        null|gdeleat@webeden.c...|Female|134143|2001-03-19 12:19:50|    null|
|  31|    Blayne|   Yuranovev|byuranovevu@blogt...|  Male|188551|1998-07-27 11:30:51|27111.81|
|  32|      Maud|      Formby|mformbyv@macromed...|Female|182359|1964-08-24 11:02:47|77984.03|
|  33|      null|  Brauninger|pbrauningerw@wire...|Female|128821|               null|51592.51|
|  34|    Archer|      Olland|  aollandx@blogs.com|  Male|178365|               null|78036.07|
|  35|      Barn|       Guido|bguidoy@tripadvis...|  Male|191710|               null|37502.75|
|  36|  Olenolin|        null|omaestriniz@googl...|  Male|101428|1929-09-27 09:37:46|    null|
|  37|    Maggee|      Rablin|mrablin10@mashabl...|Female|134344|2004-10-08 01:50:46|60163.15|
|  38|     Nikki|     Woolner|nwoolner11@linked...|Female|  3792|1942-05-13 12:11:21|21054.48|
|  39|   Daniele|      Baelde|   dbaelde12@who.int|Female| 85612|1988-05-12 08:40:59|    null|
|  40|    Farlee|     Fincken|ffincken13@google...|  Male|126873|1937-06-14 23:34:30|58907.18|
|  41|  Hartwell|Bartholomieu|hbartholomieu14@l...|  Male|191999|1939-03-08 00:35:08|17747.19|
|  42|    Ellery| Eixenberger|eeixenberger15@sq...|  Male|157758|               null|35763.69|
|  43|     Adams|        null|acrossley16@hc360...|  Male| 93428|2000-09-17 08:22:15|49390.74|
|  44| Gilemette|     Lockney|  glockney17@ibm.com|Female| 40386|               null|38024.15|
|null|  Stephana|    Melladew| smelladew18@aol.com|Female|  null|               null|91281.13|
|  46|Kristoforo|      Sowray|                null|  Male|131676|1959-03-14 16:01:23|27022.26|
|  47|    Moishe|    Batstone|mbatstone1a@githu...|  Male|128961|1902-10-13 11:30:12|23957.62|
|  48|    Weylin|      Heatly|    wheatly1b@ed.gov|  Male|185564|2014-10-27 22:42:51|    null|
|  49|   Brendin|    Willcott|bwillcott1c@googl...|  Male| 97378|2012-07-03 04:01:16|79157.83|
|  50|    Maggie|    Pancoust|mpancoust1d@paral...|Female|108630|1973-07-16 06:49:27|65867.23|
+----+----------+------------+--------------------+------+------+-------------------+--------+
only showing top 50 rows

<b> Find the count of duplicate employee records in the input file (based on id)?

In [0]:
# Write your code using the Spark Function
df_temp = emp.groupBy('first_name', 'last_name').agg(count('id').alias('count_of_ids')).orderBy(desc(count('id')))
df_temp.show()

+----------+----------+------------+
|first_name| last_name|count_of_ids|
+----------+----------+------------+
|   Giacomo|      null|           2|
|  Tremayne|     Beers|           1|
|      Trix|     Roder|           1|
|   Rodrigo|    Mepham|           1|
|   Justinn|   Attwell|           1|
|      null|   Caulier|           1|
|     Leola|      null|           1|
|      null| Castaneda|           1|
|     Sully|Bortolozzi|           1|
|     Jinny|   Wraight|           1|
|        Cy| Denington|           1|
|    Nadeen|  Kynforth|           1|
|    Rodney|   Rihosek|           1|
|  Elisabet|  Napoleon|           1|
|      Arty|     Hance|           1|
|   Goddard|      Lude|           1|
|      null| Achrameev|           1|
|    Farlee|   Fincken|           1|
|    Aretha|Kleinplatz|           1|
|    Elston|      null|           1|
+----------+----------+------------+
only showing top 20 rows

In [0]:
dups = df_temp.filter("count_of_ids > 1")
dups.show()

+----------+---------+------------+
|first_name|last_name|count_of_ids|
+----------+---------+------------+
|   Giacomo|     null|           2|
+----------+---------+------------+

<b> Find out how many records have Gender value missing.

In [0]:
# Write your code using the Spark Function
gender_missing = emp.where(col('gender').isNull()).select(count('id').alias('missing gender records'))
gender_missing.show()

+----------------------+
|missing gender records|
+----------------------+
|                    28|
+----------------------+

d
<b> Are there any missing values in the "bonus" field? If so, filled them defualt bonus 100.

In [0]:
# Write your code using the Spark Function
missing_bonus = emp.filter(col('bonus').isNull())
missing_bonus.show()

+---+----------+-----------+--------------------+------+------+-------------------+-----+
| id|first_name|  last_name|               email|gender|salary|       creationDate|bonus|
+---+----------+-----------+--------------------+------+------+-------------------+-----+
|  1|    Valene|     Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40| null|
|  2|  Lynnelle|      Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56| null|
|  4|    Dulsea|       Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39| null|
|  6|     Baily|     Antony| bantony5@sfgate.com|  Male|127337|1913-10-14 11:25:33| null|
|  9|   Sibylla|  Sickamore|ssickamore8@faceb...|Female|107243|2020-03-15 15:00:30| null|
| 12|  Giuseppe|    Scimoni|gscimonib@craigsl...|  Male|176531|1967-04-06 07:23:03| null|
| 17|     Gilly|     Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57| null|
| 30|    Gretta|       null|gdeleat@webeden.c...|Female|134143|2001-03-19 12:19:50| null|
| 36|  Olenolin|       null|omaestriniz@googl...|  Male|101428|1929-09-27 09:37:46| null|
| 39|   Daniele|     Baelde|   dbaelde12@who.int|Female| 85612|1988-05-12 08:40:59| null|
| 48|    Weylin|     Heatly|    wheatly1b@ed.gov|  Male|185564|2014-10-27 22:42:51| null|
| 67|    Aloise|   Brombell|                null|Female| 51529|1987-02-16 16:02:18| null|
| 70|    Lianne|       Boam|                null|Female| 13695|1981-04-08 20:31:44| null|
| 75|    Allina|    Sposito|asposito22@japanp...|Female|130641|1925-01-10 03:12:07| null|
| 76|     Camey|    Crallan|ccrallan23@earthl...|  Male|147297|1911-07-25 23:37:49| null|
| 85|      null|  Learmouth|slearmouth2c@ebay...|Female| 60028|               null| null|
| 91|  Nicolais|Rosenfelder|nrosenfelder2i@pc...|  Male| 70478|               null| null|
| 96|   Katrina|    Snoxall|ksnoxall2n@buzzfe...|Female| 16459|1991-04-22 23:35:19| null|
|116|      null|      Jados|                null|  Male| 56578|2002-05-29 06:33:36| null|
|118|  Karalynn|     Scones| kscones39@weibo.com|Female|180007|               null| null|
+---+----------+-----------+--------------------+------+------+-------------------+-----+
only showing top 20 rows

In [0]:
emp2 = emp.fillna(value=100, subset=["bonus"])
emp2.show()

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|   100.0|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|   100.0|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|   100.0|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
|  6|     Baily|   Antony| bantony5@sfgate.com|  Male|127337|1913-10-14 11:25:33|   100.0|
|  7|    Eunice|   Cardus|ecardus6@scientif...|Female|136574|1901-11-02 15:09:47|38676.94|
|  8|  Aubrette|  Lippett| alippett7@nifty.com|Female|165713|1919-12-16 08:20:42|60150.66|
|  9|   Sibylla|Sickamore|ssickamore8@faceb...|Female|107243|2020-03-15 15:00:30|   100.0|
| 10|      null|   Altree|paltree9@dropbox.com|Female|197594|1975-06-21 23:27:12|72533.37|
| 11|      Coop|    Richt|   crichta@sogou.com|  Male| 19964|1939-02-13 16:18:24|56973.41|
| 12|  Giuseppe|  Scimoni|gscimonib@craigsl...|  Male|176531|1967-04-06 07:23:03|   100.0|
| 13|    Lovell|  Iorizzo|liorizzoc@cpanel.net|  Male|189150|1949-06-06 16:25:20| 41474.8|
| 14|       Deb|    Mogra|   dmograd@bbc.co.uk|Female|197829|1997-07-27 14:55:52|46528.57|
| 15|  Hastings| Jelliman|hjellimane@histat...|  Male|179296|1915-07-05 07:02:06|80194.64|
| 16|     Josee|   Burnep|    jburnepf@php.net|  null| 78569|1923-11-08 20:59:14|88925.13|
| 17|     Gilly|   Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57|   100.0|
| 18|      null|Schruyers|lschruyersh@desde...|  Male|109936|1979-06-16 01:12:48|37243.09|
| 19|     Maris|Chatelain| mchatelaini@unc.edu|Female|190047|2008-01-11 17:16:21|76469.65|
| 20|    Casper|  Aughtie|    caughtiej@vk.com|  Male| 38689|1982-04-06 05:13:49| 80404.8|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 20 rows

In [0]:
emp3 = emp2.filter(col('bonus').isNull())
emp3.show()

+---+----------+---------+-----+------+------+------------+-----+
| id|first_name|last_name|email|gender|salary|creationDate|bonus|
+---+----------+---------+-----+------+------+------------+-----+
+---+----------+---------+-----+------+------+------------+-----+

d
<b> Are there any employees with negative salary or bonus amounts in the input file? If so, how many?

In [0]:
# Write your code using the Spark Function
neg = emp.select('id').where("salary < 0 or bonus < 0")
neg.show()

+---+
| id|
+---+
+---+

d
<b> Replace all the null/emtpy value in email column with admin@azurelib.com

In [0]:
# Write your code using the Spark Function
emp.select('*').where(col('email').isNull()).show()

+----+----------+-----------+-----+------+------+-------------------+--------+
|  id|first_name|  last_name|email|gender|salary|       creationDate|   bonus|
+----+----------+-----------+-----+------+------+-------------------+--------+
|  21|    Kristo|    Giraudy| null|  Male|152116|1962-08-16 21:27:30| 5982.54|
|  28| Sallyanne|  Iacobucci| null|Female|  2339|1939-05-10 11:30:31| 66003.0|
|  29|      null|     Nibley| null|Female|165764|2019-08-30 11:23:27|93953.74|
|  46|Kristoforo|     Sowray| null|  Male|131676|1959-03-14 16:01:23|27022.26|
|  64|   Cordell|Baszkiewicz| null|  Male| 89429|1998-04-26 03:44:59|50640.06|
|  67|    Aloise|   Brombell| null|Female| 51529|1987-02-16 16:02:18|    null|
|  70|    Lianne|       Boam| null|Female| 13695|1981-04-08 20:31:44|    null|
|  78|   Jillian|    Chasmar| null|Female| 18805|2019-01-07 02:06:41|93412.65|
|  95|     Davey|  Woodworth| null|  Male|  8569|2000-05-24 18:03:02|92849.24|
|  97|    Thorpe|    Gabotti| null|  Male|167464|1982-06-30 21:33:46|  8679.7|
|null|    Darren|       null| null|  Male|111848|1940-11-30 02:35:02| 6461.19|
| 116|      null|      Jados| null|  Male| 56578|2002-05-29 06:33:36|    null|
| 123|    Malchy|  Whitefoot| null|  Male| 28052|1918-08-05 15:45:12|39117.02|
| 142|       Erv|     Griggs| null|  Male|144655|2007-11-09 22:05:38| 95251.8|
| 145|     Adele|     Taylot| null|Female|  null|1968-01-14 05:31:32|    null|
| 146|    Amargo|   Tresvina| null|Female|185482|1962-04-26 20:02:19|45135.71|
| 152|    Lorrin|   Stopford| null|Female| 53416|1918-07-11 08:09:31|94705.56|
| 163|   Jeffrey|     Sugars| null|  Male|112937|1978-08-15 19:03:34|92001.92|
| 165|      Kirk|     Haddon| null|  Male| 46136|1975-07-12 23:15:40|68143.38|
| 169|    Jamesy|      Gilby| null|  Male|153493|1971-01-28 04:00:18|27030.09|
+----+----------+-----------+-----+------+------+-------------------+--------+
only showing top 20 rows

In [0]:
emp3 = emp.na.fill(value='xyz@gmail.com', subset=["email"])
emp3.select('*').where("email = 'xyz@gmail.com'").show()

+----+----------+-----------+-------------+------+------+-------------------+--------+
|  id|first_name|  last_name|        email|gender|salary|       creationDate|   bonus|
+----+----------+-----------+-------------+------+------+-------------------+--------+
|  21|    Kristo|    Giraudy|xyz@gmail.com|  Male|152116|1962-08-16 21:27:30| 5982.54|
|  28| Sallyanne|  Iacobucci|xyz@gmail.com|Female|  2339|1939-05-10 11:30:31| 66003.0|
|  29|      null|     Nibley|xyz@gmail.com|Female|165764|2019-08-30 11:23:27|93953.74|
|  46|Kristoforo|     Sowray|xyz@gmail.com|  Male|131676|1959-03-14 16:01:23|27022.26|
|  64|   Cordell|Baszkiewicz|xyz@gmail.com|  Male| 89429|1998-04-26 03:44:59|50640.06|
|  67|    Aloise|   Brombell|xyz@gmail.com|Female| 51529|1987-02-16 16:02:18|    null|
|  70|    Lianne|       Boam|xyz@gmail.com|Female| 13695|1981-04-08 20:31:44|    null|
|  78|   Jillian|    Chasmar|xyz@gmail.com|Female| 18805|2019-01-07 02:06:41|93412.65|
|  95|     Davey|  Woodworth|xyz@gmail.com|  Male|  8569|2000-05-24 18:03:02|92849.24|
|  97|    Thorpe|    Gabotti|xyz@gmail.com|  Male|167464|1982-06-30 21:33:46|  8679.7|
|null|    Darren|       null|xyz@gmail.com|  Male|111848|1940-11-30 02:35:02| 6461.19|
| 116|      null|      Jados|xyz@gmail.com|  Male| 56578|2002-05-29 06:33:36|    null|
| 123|    Malchy|  Whitefoot|xyz@gmail.com|  Male| 28052|1918-08-05 15:45:12|39117.02|
| 142|       Erv|     Griggs|xyz@gmail.com|  Male|144655|2007-11-09 22:05:38| 95251.8|
| 145|     Adele|     Taylot|xyz@gmail.com|Female|  null|1968-01-14 05:31:32|    null|
| 146|    Amargo|   Tresvina|xyz@gmail.com|Female|185482|1962-04-26 20:02:19|45135.71|
| 152|    Lorrin|   Stopford|xyz@gmail.com|Female| 53416|1918-07-11 08:09:31|94705.56|
| 163|   Jeffrey|     Sugars|xyz@gmail.com|  Male|112937|1978-08-15 19:03:34|92001.92|
| 165|      Kirk|     Haddon|xyz@gmail.com|  Male| 46136|1975-07-12 23:15:40|68143.38|
| 169|    Jamesy|      Gilby|xyz@gmail.com|  Male|153493|1971-01-28 04:00:18|27030.09|
+----+----------+-----------+-------------+------+------+-------------------+--------+
only showing top 20 rows

d
<b> Remove all the records where any record has any null values. Find out the total count of the records now.

In [0]:
# Write your code using the Spark Function
emp4 = emp.select(count('*').alias('current rows'))
emp4.show()

+------------+
|current rows|
+------------+
|        1000|
+------------+

In [0]:
emp5 = emp.na.drop("any")
clean_rows = emp5.select(count('*').alias('rows w/o nulls'))
clean_rows.show()

+--------------+
|rows w/o nulls|
+--------------+
|           512|
+--------------+